@import "./reset.css";

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #111315;
    color: #e0e8f0;
}

#canvas-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

#canvas {
    margin: auto;
    width: 1280px;
    height: 720px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 16px 0 #000;
}
